<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class ="container">
    <hr>
    <div class ="container" style="">
        <div class ="row" style="">
            <div th:if = "${hospitalDto.getLocplcfaclttelno} == '' or ${hospitalDto.getLocplcfaclttelno} == null"   class ="d-flex justify-content-start">
                <i class="fa fa-phone mt-1 mx-1 mb-1"></i> <div  class ="mx-1 p-0"> 정보 없음</div>
            </div>
            <div th:unless = "${hospitalDto.getLocplcfaclttelno} == '' or ${hospitalDto.getLocplcfaclttelno} == null"  class ="d-flex justify-content-start">
                <i class="fa fa-phone  mt-1 mx-1 mb-1"></i> <div  class ="mx-1 p-0" th:text="${hospitalDto.getLocplcfaclttelno}" ></div>
            </div>
            <hr>
            <div th:if = "${hospitalDto.getRefineroadnmaddr} == '' or ${hospitalDto.getRefineroadnmaddr} == null"  class ="d-flex justify-content-start">
                <i class="fa fa-map-marker-alt  mt-1 mx-1 mb-1"></i> <div class ="mx-1 p-0"  >정보 없음</div>
            </div>
            <div th:unless = "${hospitalDto.getRefineroadnmaddr} == '' or ${hospitalDto.getRefineroadnmaddr} == null"  class ="d-flex justify-content-start">
                <i class="fa fa-map-marker-alt  mt-1 mx-1 mb-1"></i> <div class ="mx-1 p-0" th:text="${hospitalDto.getRefineroadnmaddr}" ></div>
            </div>
            <hr>
            <div class ="d-flex justify-content-start">
                <i class="fas fa-info mt-1 mx-2"></i><div class ="mt-1 p-0">영업</div>
                <div class ="mt-1 mx-1 p-0 ">
                    <div th:text="${hospitalDto.getBsnstatenm}"></div>
                </div>
            </div>
            <hr>
        </div>

    </div>

</div>
<script th:src="@{/JS/Board/Hospital/WeatherApi.js}" ></script>
</body>
</html>