<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class ="container">
    <div class ="container" style="">
        <div class ="row" style="border:solid 1px black">
            <div style ="border: solid 1px black;" class ="d-flex justify-content-start"  th:text="${hospitalDto.getLocplcfaclttelno}" ></div>
            <div style ="border: solid 1px black;" class ="d-flex justify-content-start" th:text="${hospitalDto.getRefineroadnmaddr}" ></div>
            <div style ="border: solid 1px black;" class ="d-flex justify-content-start" th:text="${hospitalDto.getBsnstatenm}"></div>
        </div>
        <!--<div style ="border: solid 1px black;" class ="d-flex justify-content-start"  th:text="${hospitalDto.getLocplcfaclttelno}" ></div>
        <div style ="border: solid 1px black;" class ="d-flex justify-content-start" th:text="${hospitalDto.getRefineroadnmaddr}" ></div>
        <div style ="border: solid 1px black;" class ="d-flex justify-content-start" th:text="${hospitalDto.getBsnstatenm}"></div>-->
    </div>

</div>

</body>
</html>