<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

    <div class ="container" style="">

        <div class="mb-2">

            <div class="card-header bg-light">
                <i class="fa fa-comment fa"></i> REPLY
                <button type="button" class="btn btn-dark mt-3 d-flex justify-content-end" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    댓글달기
                </button>
                <!--<button type="button" class="btn btn-dark mt-3" th:onclick="replywrite([[${encode}]])">리뷰등록</button>-->
            </div>

            <div class="">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">

                    </li>
                    <!--답글 반복문 넣기 -->
                    <div id ="replytable" class=" mt-2" th:each="replyEntities : ${replyEntities}">

                        <div class="card-header p-2">
                            <table>
                                <tr class="align-middle">
                                    <td rowspan="2" class="pr-2"><i class="fa fa-user-o fa-2x"></i></td>
                                        <!-- 계정 이름 넣기 -->
                                    <td class="ml" th:text ="${replyEntities.getMemberEntity().getMid()}"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <font size="2" th:text ="${replyEntities.getUpdateDate()}"></font>
                                        <span style="cursor:pointer" onClick="javascript:showDeleteReplyModal(176, 174);">
                                            <i class="fa fa-window-close fa" aria-hidden="true"></i>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <span class="star2" > ★★★★★
                                  <span th:style="${'width:'+ replyEntities.getintbstar() +'%;'}">★★★★★</span>
                                  <input type="range" oninput="drawStar(this)" value="1" step="1" min="0" max="10" disabled>
                                </span>
                        <div class="card-body">
                            <!-- 답글 내용 -->
                            <p class="card-text" th:text ="${replyEntities.getBcontents()}" ></p>
                            <!--<span class="badge badge-dark" style="cursor:pointer"><a onClick="javascript:showReReplyArea(176,174);">답글</a></span>-->
                        </div>
                    </div>

                </ul>
            </div>
        </div>
    </div>

    <!--모달 수정 하기-->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false" >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">리뷰 남기기</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <textarea name ="rcontents" class="form-control" id="rcontents" rows="3"></textarea>
                    평점
                    <span class="star">
                          ★★★★★
                          <span>★★★★★</span>
                          <input type="range" oninput="drawStar(this)" value="1" step="1" min="0" max="10">
                    </span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="button" class="btn bg-gradient-secondary" th:onclick="replywrite([[${encode}]])">리뷰등록</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>