<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link th:href="@{/CSS/MainCSS.css}" rel="stylesheet">
</head>
<!-- 배경색 -->
<body style="background-color: #ff7f50;">
<!-- 배경 이미지 -->
<div id="bgimg" style="background-image: url('./IMG/logofoot.svg');">
    <!-- 내용 -->
    <div id="header">
        <div th:replace="Header.html :: header"></div>
    </div>
    <div id="footer" style="vertical-align: bottom; margin-top:17vh;">
        <div th:replace="Footer.html :: footer"></div>
    </div>
</div>


</div>

</body>
</html>