<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Education - List of Meetings</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Additional CSS Files -->
    <link th:href="@{/assets/css/fontawesome.css}" rel="stylesheet"/>
    <link th:href="@{/assets/css/templatemo-edu-meeting.css}" rel="stylesheet"/>
    <link th:href="@{/assets/css/owl.css}" rel="stylesheet"/>
    <link th:href="@{/assets/css/lightbox.css}" rel="stylesheet"/>
    <!--

    TemplateMo 569 Edu Meeting

    https://templatemo.com/tm-569-edu-meeting

    -->
</head>
<body style="background-color: #ff7f50; overflow-x: hidden;">
<div th:replace="Header.html :: header"></div>
<div class="container">
    <form action="/LossBoardNotice" method="get">
        <div style="margin-bottom:30px;">
            <h2 style="color:white;">유실유기동물 공지</h2>
        </div>
        <div class="row">
            <div class="col-md-2 d-flex"> <!-- d-flex-->
                <label style="width:100px; font-size:18px; color:white;"><strong>상태</strong></label>
                <select name="state" class="form-select">
                    <option value="total" selected="selected">전체</option>
                    <option value="보호중">보호중</option>
                    <option value="종료">종료</option>
                </select>
            </div>
            <div class="col-md-2 d-flex"> <!-- d-flex-->
                <label style="width:100px; font-size:18px; color:white;"><strong>성별</strong></label>
                <select name="sex" class="form-select">
                    <option value="total" selected="selected">전체</option>
                    <option value="암컷">암컷</option>
                    <option value="수컷">수컷</option>
                    <option value="미상">미상</option>
                </select>
            </div>
            <div class="col-md-2 d-flex">
                <label style="width:100px; font-size:18px; color:white;"><strong>품종</strong></label>
                <select name="kind" class="form-select">
                    <option value="total" selected="selected">전체</option>
                    <option value="개">개</option>
                    <option value="고양이">고양이</option>
                    <option value="기타축종">기타</option>
                </select>
            </div>
            <div class="d-flex" style="width:350px;">
                <label style="width:280px; font-size:18px; color:white;"><strong>보호지역(시군구)</strong></label>
                <select name="city" onchange="categoryChange(this)" class="form-select">
                    <option value="total" selected="selected">전체</option>
                    <option value="가평군">가평군</option>
                    <option value="고양시">고양시</option>
                    <option value="과천시">과천시</option>
                    <option value="광명시">광명시</option>
                    <option value="광주시">광주시</option>
                    <option value="구리시">구리시</option>
                    <option value="군포시">군포시</option>
                    <option value="김포시">김포시</option>
                    <option value="남양주시">남양주시</option>
                    <option value="동두천시">동두천시</option>
                    <option value="부천시">부천시</option>
                    <option value="성남시">성남시</option>
                    <option value="수원시">수원시</option>
                    <option value="시흥시">시흥시</option>
                    <option value="안산시">안산시</option>
                    <option value="안성시">안성시</option>
                    <option value="안양시">안양시</option>
                    <option value="양주시">양주시</option>
                    <option value="양평군">양평군</option>
                    <option value="여주군">여주군</option>
                    <option value="연천군">연천군</option>
                    <option value="오산시">오산시</option>
                    <option value="용인시">용인시</option>
                    <option value="의왕시">의왕시</option>
                    <option value="의정부시">의정부시</option>
                    <option value="이천시">이천시</option>
                    <option value="파주시">파주시</option>
                    <option value="평택시">평택시</option>
                    <option value="포천시">포천시</option>
                    <option value="하남시">하남시</option>
                    <option value="화성시">화성시</option>
                </select>
            </div>
            <div class="col-md-1">
                <input type="submit" value="검색" class="form-control">
            </div>
        </div>
    </form>
</div>
<br>
<div style="border: 1px solid white;"></div>
<br>
<section class="meetings-page" id="meetings">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 templatemo-item-col" th:each="lossDTO : ${parsesPage}">
                <div class="meeting-item">
                    <div class="thumblist" style="border-top-left-radius:20px; border-top-right-radius:20px;">
                        <a th:href="@{ '/Board/Loss/LossBoardView/' + ${lossDTO.ABDM_IDNTFY_NO} } ">
                            <img class="image-thumbnail" th:src="${lossDTO.IMAGE_COURS}" alt="">
                        </a>
                    </div>
                    <div class="down-content">
                        <a th:href="@{ '/Board/Loss/LossBoardView/' + ${lossDTO.ABDM_IDNTFY_NO} } ">
                            <h4 th:text="${lossDTO.details}">품종세부</h4><br>
                        </a>
                        <table class="table">
                            <tr>
                                <td width="40%">공고번호</td>
                                <td th:text="${lossDTO.PBLANC_IDNTFY_NO}" style="font-size:14px;"></td>
                            </tr>
                            <tr>
                                <td>품종</td>
                                <td th:text="${lossDTO.SPECIES_NM}"></td>
                            </tr>
                            <tr>
                                <td height="60px;">발견장소</td>
                                <td th:text="${lossDTO.DISCVRY_PLC_INFO}"></td>
                            </tr>
                            <tr>
                                <td>보호지역</td>
                                <td th:text="${lossDTO.city}"></td>
                            </tr>
                            <tr>
                                <td>나이</td>
                                <td th:text="${lossDTO.AGE_INFO}"></td>
                            </tr>
                            <tr>
                                <td>성별</td>
                                <td th:text="${lossDTO.SEX_NM}"></td>
                            </tr>
                            <tr>
                                <td>상태</td>
                                <td>공고중</td>
                            </tr>
                            <tr>
                                <td>공고기간</td>
                                <td><span th:text="${lossDTO.newPBLANC_BEGIN_DE}"></span> ~ <span
                                        th:text="${lossDTO.newPBLANC_END_DE}"></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- pagination -->
    <div class="col-lg-12">
        <div class="pagination">
            <ul>
                <li class="page-item">
                    <a class="page-link" th:href="@{/LossBoardNotice?page=1}" aria-label="Previous"
                       style="border-radius: 10px;">
                        <span aria-hidden="true"> << </span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="@{/LossBoardNotice?page={page} (page = ${pagination.prevBlock})}"
                       aria-label="Previous">
                        <span aria-hidden="true"> < </span>
                    </a>
                </li>
                <th:block th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">
                    <li class="page-item"
                        th:with="start = ${pagination.startPage}, end = ${pagination.endPage}"
                        th:each="pageButton : ${#numbers.sequence(start, end)}">
                        <a class="page-link" th:href="@{/LossBoardNotice?page={page} (page = ${pageButton})}"
                           th:text=${pageButton}></a>
                    </li>
                </th:block>
                <li class="page-item">
                    <a class="page-link" th:href="@{/LossBoardNotice?page={page} (page = ${pagination.nextBlock})}"
                       aria-label="Next">
                        <span aria-hidden="true"> > </span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="@{/LossBoardNotice?page={page} (page = ${pagination.totalPageCnt})}"
                       aria-label="Next" style="border-radius: 10px;">
                        <span aria-hidden="true"> >> </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div th:replace="Footer.html :: footer"></div>
</section>

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/isotope.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/owl-carousel.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/lightbox.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/tabs.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/isotope.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/video.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/slick-slider.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/custom.js}" type="text/javascript"></script>
<script th:src="@{/JS/Board/Loss/LossBoard.js}" type="text/javascript"></script>

</body>

</html>