<div class = "container" id = "sideaside1">
    <label class = "form-control ReLabel" style="background-color: black; color: white; border: none; padding-top: 20px;">
        <div class = "row">
            <div class = "col-md-4">
                <h5 style="color: white; margin: 0px;">아이디</h5>
            </div>
            <div class = "col-md-4 offset-md-4">
                <h5 style="color: white; margin: 0px; margin-right: 3px; float: right;" id = "reviewDate">날짜</h5>
            </div>
            <div class = "container">
                <div class = "container">
                    <hr>
                </div>
            </div>
            <div class = "col-md-12">
                <h6 style="color: white; margin: 0px;" id = "reviewContents">내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용</h6>
            </div>
            <br><br>
            <!--<div class = "container"><hr><hr></div>-->
            <!-- 드랍다운 -->
            <div class = "col-md-12">
                <h6>답글</h6>
                <details>
                    <summary>
                        <span data-css-icon="down"><!--<i></i>--></span>
                    </summary>
                    <div class = "row no-gutters">
                        <div class = "col-md-10 no-gutters">
                            <input type = "text" class = "form-control" style="height: 40px; width: 100%;" id = "RIReplycontents">
                        </div>
                        <div class = "col-md-2 no-gutters">
                            <button class = "btn btn-outline-light" style="height: 40px; width: 100%;">등록</button>
                        </div>
                    </div>
                </details>
            </div>
            <hr style="color: coral;">
            <!--                                                            <div th:if = "${RiReply} == null">첫 댓글을 달아주세요</div>-->
            <div class = "row" th:each = "RIReply : ${RIR}" id = "RIReplyDIV">
                <div class = "col-md-2" style="margin-top: 20px; padding-left: 20px;">
                    ㄴ>
                </div>
                <div class = "col-md-10">
                    <table class = "table" style="margin-top: 0px; border: solid 0px black;">
                        <tr>
                            <td th:text = "${RIReply.bwriter}" style="color: white;">아이디</td><td th:text = "${RIReply.bcreateddate}" style="color: white; float: right;">작성날짜</td>
                        </tr>
                        <tr>
                            <td colspan="2" th:text = "${RIReply.bcontents}" style="color: white;">내용</td>
                        </tr>
                    </table>
                </div>
                <hr>
            </div>
        </div>
    </label>
</div>